<div class="connect">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="center">I look forward to chatting.</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-8 col-md-offset-2">
				<p>
					 Thank you for your interest — I sincerely appreciate it. Don't hesitate to reach out if you want to talk shop or are interested in a resume.
				</p>
				<%= link_to "mailto:designs@pattycreates.com?Subject=Design%20Intro&body=Hey%20Patty,%0D%0AI%20saw%20your%20website,%20and%20I%20wanted%20to%20introduce%20myself.%20My%20name%20is%20", target: "blank" do %>
					<button class="callout-link">
						Email PattyCreates<i class="fa fa-arrow-right"></i>
					</button>
				<% end %>
				<div class="social">
					<%= link_to "http://linkedin.com/in/pattycreates", target: "_blank" do %>
						<span class="fa-stack fa-lg">
						  <i class="fa fa-circle fa-stack-2x"></i>
						  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
						</span>
					<% end %>
					<%= link_to "http://twitter.com/pattycreates", target: "_blank" do %>
						<span class="fa-stack fa-lg">
						  <i class="fa fa-circle fa-stack-2x"></i>
						  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
						</span>
					<% end %>
					<%= link_to "http://instagram.com/pattycreates", target: "_blank" do %>
						<span class="fa-stack fa-lg">
						  <i class="fa fa-circle fa-stack-2x"></i>
						  <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
						</span>
					<% end %>
					<%= link_to "http://github.com/pattycreates", target: "_blank" do %>
						<span class="fa-stack fa-lg">
						  <i class="fa fa-circle fa-stack-2x"></i>
						  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
						</span>
					<% end %>
					<%= link_to "https://dribbble.com/pattycreates", target: "_blank" do %>
						<span class="fa-stack fa-lg">
						  <i class="fa fa-circle fa-stack-2x"></i>
						  <i class="fa fa-dribbble fa-stack-1x fa-inverse"></i>
						</span>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>