<%= render partial: "partials/navigation" %>

<div class="container-fluid">
	<div class="row">
		<%= image_tag 'home/pattycreates-header-image.jpg', class: "img-responsive animated pulse hero-image" %>
	</div>
</div>

<div id="work">
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	  <div class="panel panel-default">
	  	<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
		    <div class="panel-heading" role="tab" id="headingOne">
		      <h4>
		          Kissmetrics
		      </h4>
		    </div>
		  </a>
	    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
	      <div class="panel-body">
	      	<%= render partial: "work/kissmetrics" %>
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	  	<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
		    <div class="panel-heading" role="tab" id="headingTwo">
		      <h4>
		        Appcelerator
		      </h4>
	    	</div>
			</a>
	    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
	      <div class="panel-body">
	        <%= render partial: "work/appcelerator" %>
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	  	<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
		    <div class="panel-heading" role="tab" id="headingThree">
		      <h4>
		        Singly
		      </h4>
	    	</div>
			</a>
	    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
	      <div class="panel-body">
	        <%= render partial: "work/singly" %>
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	  	<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
		    <div class="panel-heading" role="tab" id="headingFour">
		      <h4>
		        Taiwan Tourism
		      </h4>
	    	</div>
			</a>
	    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
	      <div class="panel-body">
	        <%= render partial: "work/taiwan_tourism" %>
	      </div>
	    </div>
	  </div>
	</div>
</div>

<div id="about">
	<%= render partial: "partials/about" %>
</div>

<div id="connect">
	<%= render partial: "partials/connect" %>
</div>