<div id="header-wrap">
	<%= render partial: "partials/navigation" %>

	<div class="container-fluid">
		<div class="row hero-container">
			<h2 class="center hero-title animated fadeInUp">Designer &amp; Artist</h2>
			<%= image_tag 'home/pattycreates-header-image.jpg', class: "img-responsive hero-image" %>
		</div>
	</div>
</div>

<div id="work">
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		<div class="panel panel-default panel-default-1">
	  	<a class="collapsed accordion-1" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
		    <div class="panel-heading" role="tab" id="headingOne">
		      <h3>
		        Kissmetrics
		      </h3>
		    </div>
		  </a>
	    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
	      <div class="panel-body">
	      	<%= render partial: "work/kissmetrics" %>
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default panel-default-2">
	  	<a class="collapsed accordion-2" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
		    <div class="panel-heading" role="tab" id="headingTwo">
		      <h3>
		        Appcelerator
		      </h3>
	    	</div>
			</a>
	    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
	      <div class="panel-body">
	        <%= render partial: "work/appcelerator" %>
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default panel-default-3">
	  	<a class="collapsed accordion-3" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
		    <div class="panel-heading" role="tab" id="headingThree">
		      <h3>
		        Singly
		      </h3>
	    	</div>
			</a>
	    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
	      <div class="panel-body">
	        <%= render partial: "work/singly" %>
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default panel-default-4">
	  	<a class="collapsed accordion-4" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
		    <div class="panel-heading" role="tab" id="headingFour">
		      <h3>
		        Titan360
		      </h3>
	    	</div>
			</a>
	    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
	      <div class="panel-body">
	        <%= render partial: "work/taiwan_tourism" %>
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default panel-default-5">
	  	<a class="collapsed accordion-5" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
		    <div class="panel-heading" role="tab" id="headingFive">
		      <h3>
		        Art
		      </h3>
	    	</div>
			</a>
	    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
	      <div class="panel-body">
	        <%= render partial: "work/art" %>
	      </div>
	    </div>
	  </div>
	</div>
</div>

<div id="about">
</div>

<%= render partial: "partials/about" %>

<div id="connect">
	<%= render partial: "partials/connect" %>
</div>
