<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-8 col-md-offset-2">
			<p class="company-description">
				Appcelerator has two main products: an enterprise MBaaS solution serving over 70% of the Fortune 100 called the Appcelerator Platform and a Javascript to native code compiler called Titanium with an open source developer community of 780,000.
			</p>
			<p>
				I joined the Appcelerator team during the exciting <%= link_to "Singly acquisition", "http://venturebeat.com/2013/08/22/why-did-appcelerator-buy-singly-because-it-wants-to-be-the-next-oracle/", target: "_blank" %>. At that time, Appcelerator was focused on selling an enterprise platform consisting of three products: <em>Apps</em>, <em>Analytics</em>, and <em>APIs</em>. We wanted to reinvigorate the brand, so I, heavily influenced by Parse and Urban Airship, spent a healthy amount of time redefining the brand. I redesigned the website by focusing on the platform's offerings with a trifecta emblem as a main focal piece. Here are a few examples of the website with the new brand direction.
			</p>
			<div class="group-vertical-margin">
				<%= image_tag 'appcelerator/appc-header-platform.jpg', class: "img-responsive work group-vertical-margin" %>
				<div class="browser-ui">
					<%= render partial: "partials/browser_circles" %>
					<%= image_tag 'appcelerator/appc-api.jpg', class: "img-responsive" %>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-8 col-md-offset-2">
			<p>
				 After the website redesign wrapped up, the brand was then conveyed onto sales enablement media and leadgen projects. We produced several microsites where I delivered all aspects of usability, interaction and interface design.
			</p>
		</div>
	</div>
	<div class="group-vertical-margin">
		<div class="row">
			<div class="col-xs-12 col-sm-9 col-sm-offset-0 col-md-8 col-md-offset-1">
				<%= image_tag 'appcelerator/appc-maturity-assessment.jpg', class: "singly-1 img-responsive work-dropshadow animated work" %>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-5 col-xs-offset-1 col-md-2 col-md-offset-4 col-sm-3 col-sm-offset-2">
				<%= image_tag 'appcelerator/appc-page-platform.jpg', class: "img-responsive work-dropshadow pull-up-30 animated fadeInRight top-image" %>
			</div>

			<div class="hidden-xs col-md-2 col-sm-3">
				<%= image_tag 'appcelerator/appc-graph.jpg',  class: "img-responsive work-dropshadow pull-up-30  animated fadeInUp top-image" %>
			</div>
			<div class="col-xs-5 col-md-3 col-sm-4">
				<%= image_tag 'appcelerator/appc-mbaas-wp.jpg', class: "img-responsive work-dropshadow animated fadeInRight pull-up-66 top-image" %>
			</div>
		</div>
		<br>
	</div>
	<hr class="center-hr" />
	<div class="row">
		<div class="col-sm-12 col-md-8 col-md-offset-2">
			<h4>
				Titanium for Developers
			</h4>
			<p>
				The <em>Apps</em> portion of the enterprise platform is specific to Titanium, a compiler of JS to native mobile languages. Titans, loyal developers and evangelists, are Appcelerator’s true bread and butter. Here’s a snippet of an infographic I designed that celebrated the 500,000th developer who joined the community. <%= link_to "See full infographic here.", "http://www.appcelerator.com/500k/", target: "_blank" %>
			</p>
			<div class="group-vertical-margin">
				<%= image_tag "appcelerator/titanium-infographic-500k.jpg", class: "work img-responsive" %>
			</div>
		</div>
	</div>
</div>
