<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-8 col-md-offset-2">
			<p class="company-description">
				Appcelerator, MBaaS, has two main products: The Appcelerator Platform, serving over 70% of the Fortune 100, and Titanium, the open source developer tool with over 780,000 community developers.
			</p>
			<p>
				When I first joined, Appcelerator was focused on selling an enterprise platform consisting of three products: <em>Apps</em>, <em>Analytics</em>, and <em>APIs</em>. Their interest in building out their APIs was the reason they acquired my previous employer Singly (I was an acqui-hire). Influenced by Parse and Urban Airship, I spent a good amount of time redefining the brand which ultimately resulted in this trifecta emblem for the platform.
			</p>
			<div class="group-vertical-margin">
				<%= image_tag 'appcelerator/appc-header-platform.jpg', class: "img-responsive work group-vertical-margin" %>
			</div>
			<p>
				Each part of the platform stood for a different part of the emblem. I then translated this positioning design to several communications mediums including a website redesign, whitepapers, mini-sites, infographics, email newsletters, etc.. Below are screenshots displaying the general brand that ensued.
			</p>
		</div>
	</div>
	<div class="group-vertical-margin">
		<div class="row">
			<div class="col-xs-11 col-xs-offset-0 col-md-8 col-md-offset-1">
				<%= image_tag 'appcelerator/appc-header-api.jpg', class: "img-responsive work work-dropshadow top-image animated fadeInUp" %>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-11 col-xs-offset-1 col-md-8 col-md-offset-3">
				<%= image_tag 'appcelerator/appc-api-screenshot.jpg', class: "img-responsive work work-dropshadow pull-up-5 animated fadeInUp" %>
			</div>
		</div>
	</div>
	<hr class="center-hr" />
	<div class="row">
		<div class="col-sm-12 col-md-8 col-md-offset-2">
			<h4>
				Titanium for Developers
			</h4>
			<p>
				The <em>Apps</em> portion of the enterprise platform is specific to Titanium, a compiler of JS to native mobile languages. Titans, loyal developers and evangelists, are Appcelerator’s true bread and butter. Here’s a snippet of an infographic I designed that celebrated the 500,000th developer who joined the community. <%= link_to "See full infographic here.", "http://www.appcelerator.com/500k/", target: "_blank" %>
			</p>
			<div class="group-vertical-margin">
				<%= image_tag "appcelerator/titanium-infographic-500k.jpg", class: "work img-responsive" %>
			</div>
		</div>
	</div>
</div>