<div class="container work-content work-maker">
	<div class="row">
		<div class="col-sm-12">
			<h2 class="center title animated fadeInUp">
				For your viewing pleasure.
			</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-8 col-md-offset-2">
			<p>
				The first time I had a <em>'aha!'</em> moment in respect to my artistic ability was when I was four years old and drew a spitting image of Donald Duck <em>(pun intended, oh yes!)</em>. Later in life, I worked at Disneyland working as a portrait artist. This served as a loose fundraiser for my art schooling. Well, I digress, you probably came here to just look at some pretty photos.
			</p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm-12">
			<h3 class="center">Charcoal Drawings</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-5 col-md-offset-1">
			<%= image_tag 'art/art-james.jpg', class: "img-responsive work" %>
			<h5 class="center">
				Saint James Franco &bull; 18" x 24"
			</h5>
		</div>
		<div class="col-sm-12 col-md-5">
			<%= image_tag 'art/art-still-life.jpg', class: "img-responsive work" %>
			<h5 class="center">
				Still Life &bull; 24" x 18"
			</h5>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm-12 col-md-8 col-md-offset-2">
			<h3 class="center">
				Alfred Hitchcock Posters Reinvented
			</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-5 col-md-offset-1">
			<%= image_tag 'art/hitchcock-rear-window.jpg', class: "img-responsive work" %>
		</div>
		<div class="col-sm-12 col-md-5">
			<%= image_tag 'art/hitchcock-rope.jpg', class: "img-responsive work" %>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-5 col-md-offset-1">
			<%= image_tag 'art/hitchcock-murder.jpg', class: "img-responsive work" %>
		</div>
		<div class="col-sm-12 col-md-5">
			<%= image_tag 'art/hitchcock-birds.jpg', class: "img-responsive work" %>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm-12 col-md-8 col-md-offset-2">
			<%= link_to "http://sfpetproject.squarespace.com", target: "blank" do %>
				<div class="callout-link">
					Impressed? Commission a pet portrait. <i class="fa fa-arrow-right"></i>
				</div>
			<% end %>
		</div>
	</div>
</div>