<div class="container work-content work-maker">
	<div class="row">
		<div class="col-sm-12 col-md-8 col-md-offset-2">
			<p>
				The first time I had a <em>'aha!'</em> moment in respect to my artistic ability was when I was four years old and drew a spitting image of Donald Duck <em>(pun intended, oh yes!)</em>. Later in life, I worked at Disneyland working as a portrait artist. This served as a loose fundraiser for my art schooling.
			</p>
			<div class="group-vertical-margin">
				<div class="row">
					<div class="col-xs-12 col-sm-4">
						<%= image_tag 'art/art-giraffe.jpg', class: "img-responsive work" %>
					</div>
					<div class="col-xs-12 col-sm-4 hidden-xs">
						<%= image_tag 'art/art-eagle.jpg', class: "img-responsive work" %>
					</div>
					<div class="col-xs-12 col-sm-4">
						<%= image_tag 'art/art-rabbit.jpg', class: "img-responsive work" %>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<%= image_tag 'art/art-james.jpg', class: "img-responsive work" %>
					</div>
					<div class="hidden-xs col-sm-6">
						<%= image_tag 'art/art-still-life.jpg', class: "img-responsive work" %>
					</div>
				</div>
			</div>
		</div>
	</div>

	<hr>
	<h4>
		SF Pet Project
	</h4>
	<div class="row">
		<div class="col-sm-12 col-md-8 col-md-offset-2">
			<p>
				Here are 2 facts that led to my passion project: (1) San Francisco has more pets than children and (2) I absolutely love dogs. So in a stroke of brilliance at midnight, I thought — <em>how about I commission pet portraits?</em>
			</p>
			<div class="group-vertical-margin">
				<div class="row">	
					<div class="col-sm-4 hidden-xs">
						<%= image_tag 'sfPetProject/sfpp-barrett.jpg', class: "img-responsive work" %>
					</div>
					<div class="col-xs-12 col-sm-4">
						<%= image_tag 'art/pattycreates-art-sfpetproject-frenchbulldog.jpg', class: "img-responsive work" %>
					</div>
					<div class="col-xs-12 col-sm-4">
						<%= image_tag 'art/pattycreates-art-sfpetproject-pitbull.jpg', class: "img-responsive work" %>
					</div>
				</div>
			</div>
			<p>
				So, that's what I did for a while. Unfortunately, I am currently away from San Francisco, so this project is as well. However, you can view some past pieces on <a href="http://instagram.com/sfpetproject" target="_blank">SF Pet Project's Instagram.</a>
			</p>
		</div>
	</div>
	
	<hr>
	<h4>
		DIY
	</h4>
	<div class="row">
		<div class="col-sm-12 col-md-8 col-md-offset-2">
			<p>
				From crocheting to ceramics to jewelry, I frankly love making things. I accredit the knack to my ADHD and my cheapness: <em>Oh, that's expensive, I can just make that for way cheaper.</em> But in all honesty, all of it is for the love of living that sweet ole hobby retired lifestyle.
			</p>
			<div class="row">
				<div class="group-vertical-margin">
					<div class="col-xs-12 col-sm-6 col-md-4">
						<%= image_tag 'art/pattycreates-maker-ceramics.jpg', class: "img-responsive work", alt: "Handmade Ceramics by PattyCreates" %>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4">
						<%= image_tag 'art/pattycreates-maker-crates.jpg', class: "img-responsive work", alt: "Custom Woodwork Jewelry by PattyCreates" %>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4">
						<%= image_tag 'art/pattycreates-maker-jewelry.jpg', class: "img-responsive work", alt: "Handmade Jewelry by PattyCreates" %>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 visible-sm">
						<%= image_tag 'art/pattycreates-maker-crates-1.jpg', class: "img-responsive work work-dropshadow top-image", alt: "Custom Woodwork by PattyCreates" %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
