<div class="container work-content work-maker">
	<div class="row">
		<div class="col-sm-12 col-md-8 col-md-offset-2">
			<p>
				From crocheting to ceramics to jewelry, I frankly just love making things. I accredit the knack to my ADHD and my cheapness: <em>Oh, that's expensive, I can just make that for way cheaper.</em> But in all honesty, all of it is for the love of living that sweet ole hobby retired lifestyle. Below is a random collection of things I've made.
			</p>
			<div class="row">
				<div class="group-vertical-margin">
					<div class="col-sm-4 hidden-xs">
						<%= image_tag 'maker/maker-ceramics.jpg', class: "img-responsive work" %>
					</div>
					<div class="col-xs-12 col-sm-4">
						<%= image_tag 'maker/maker-jewelry.jpg', class: "img-responsive work" %>
					</div>
					<div class="col-xs-12 col-sm-4 hidden-xs">
						<%= image_tag 'maker/maker-lamp.jpg', class: "img-responsive work" %>
					</div>
				</div>
			</div>
			<hr>
			<h4>#PattyCrates</h4>
			<p>
				In late 2014, I decided my Ikea expedite shelf needed some custom drawers. So, I decided to build some crates. I cut some scrap wood down at the loveliest of hackerspaces, <%= link_to "Noisebridge", "https://www.noisebridge.net/", target: "_blank" %>. I then assembled the crates at my house. This was my first time using a saw, and, yes, there was a minor injury. But all in all, my Ikea shelf now has crates.
			</p>
			<div class="group-vertical-margin">
				<div class="row">
					<div class="col-sm-4 hidden-xs">
						<%= image_tag 'maker/pattycrates-1.jpg', class: "img-responsive work" %>
					</div>
					<div class="col-xs-12 col-sm-4">
						<%= image_tag 'maker/pattycrates-2.jpg', class: "img-responsive work" %>
					</div>
					<div class="col-xs-12 col-sm-4">
						<%= image_tag 'maker/pattycrates-3.jpg', class: "img-responsive work" %>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<%= image_tag 'maker/pattycrates-4.jpg', class: "img-responsive work" %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>