<div class="container work-content work-maker">
	<div class="row">
		<div class="col-sm-12 col-md-8 col-md-offset-2">
			<p class="company-description">
				I like to make things IRL as well.
			</p>
			<h2 class="center title">
				Livin' that sweet hobby retired life.
			</h2>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm-12 col-md-8 col-md-offset-2">
			<h3>#PattyCrates</h3>
			<p>
				I couldn't be prouder of any other hashtag at this point in life.
			</p>
			<p>
				In Late 2014, I decided my ikea expedite shelf needed some custom drawers. So, I decided to build some crates. I cut my own wood down at the loveliest of hackerspaces, Noisebridge. I then assembled the crates at my house. This was my first time using any saw and I am pretty proud of the results.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-4">
			<%= image_tag 'maker/pattycrates-1.jpg', class: "img-responsive work" %>
		</div>
		<div class="col-sm-12 col-md-4">
			<%= image_tag 'maker/pattycrates-2.jpg', class: "img-responsive work" %>
		</div>
		<div class="col-sm-12 col-md-4">
			<%= image_tag 'maker/pattycrates-3.jpg', class: "img-responsive work" %>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-8 col-md-offset-2">
			<p class="callout">
				Huge thanks to Jeffrey Applesauce, Nick Chmura, and the kind folks at Noisebridge for letting us borrow their tools and workspace.
			</p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm-12 col-md-8 col-md-offset-2">
			<h3>Hipster Mason Jars</h3>
			<p>
				My room is looking real good to say the least. My second most favorite hashtag would be where one of my mason jar lamps lives in #betweenTwoFerns.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-5 col-md-offset-1">
			<%= image_tag 'maker/mason-lamp.jpg', class: "img-responsive work" %>
		</div>
		<div class="col-sm-12 col-md-5">
			<%= image_tag 'maker/mason-lamp-1.jpg', class: "img-responsive work" %>
		</div>
	</div>
	<hr>
</div>