<div class="container work-content work-maker">
	<div class="row">
		<div class="col-sm-12 col-md-8 col-md-offset-2">
			<p>
				Here are two facts that led to my passion project: San Francisco has more pets than children and I love dogs. So then, I awoke in the middle of a night with a stroke of genius. <em>How about I commission pet portraits?</em>
			</p>
			<div class="group-vertical-margin">
				<div class="row">	
					<div class="col-sm-4 hidden-xs">
						<%= image_tag 'sfpetproject/sfpp-barrett.jpg', class: "img-responsive work" %>
					</div>
					<div class="col-xs-12 col-sm-4">
						<%= image_tag 'sfpetproject/sfpp-cody.jpg', class: "img-responsive work" %>
					</div>
					<div class="col-xs-12 col-sm-4">
						<%= image_tag 'sfpetproject/sfpp-mike.jpg', class: "img-responsive work" %>
					</div>
				</div>
			</div>
			<p>
				Since this is a passion project, it also involves some cute and simple branding as seen below in the business card samples. View the site to learn how you can get your first pet portrait today!
			</p>
		</div>
	</div>
	<div class="group-vertical-margin">
		<div class="row">
			<div class="col-xs-6 col-sm-4 col-sm-offset-2 col-xs-offset-0 col-md-3 col-md-offset-3">
				<%= image_tag 'sfpetproject/sfpp-bcard-front.jpg', class: "sfPetProjectA singly-1 img-responsive work-dropshadow pull-right-5 to-be-animated" %>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3">
				<%= image_tag 'sfpetproject/sfpp-bcard-back.jpg', class: "sfPetProjectB img-responsive pull-left-5 pull-down-30 work-dropshadow to-be-animated" %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-8 col-md-offset-2">
			<%= link_to "http://www.sfpetproject.com/", target: "blank" do %>
				<button class="callout-link">
					View SF Pet Project <i class="fa fa-arrow-right"></i>
				</button>
			<% end %>
		</div>
	</div>
</div>