<div class="container work-content work-singly">
	<div class="row">
		<div class="col-sm-12 col-md-8 col-md-offset-2">
			<p class="company-description">
				Singly was an API aggregator tool that enabled easy access into social third party data. In other words, a single API. Singly was acquired by my next employer Appcelerator in 2013.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-8 col-md-offset-2">
			<p>
				At Singly, I was a creative lead handling all things design. The first project I undertook at the small startup Singly was defining the brand. The target audience was developers and the general tone we wanted to convey was playfulness, wholesomeness and <%= link_to "intelligence", "http://singly.com/about.html", target: "blank" %>. After a healthy amount of exploration, a brand book was created. Then, all future marketing collateral maintained this new brand vision including the website, whitepapers, email templates, presentation decks, signage, marketing booth designs etc..
			</p>
			<span class="visible-md visible-lg">
				<%= link_to "singly-brand-guidelines.pdf.zip", target: "blank" do %>
					<button class="callout-link">
						Download the Singly Brand Book <i class="fa fa-download"></i>
					</button>
				<% end %>
			</span>
		</div>
	</div>
	<div class="group-vertical-margin">
		<div class="row">
			<div class="col-xs-7 col-xs-offset-0 col-md-6 col-md-offset-1">
				<%= image_tag 'singly/singly-hackathons-infographic.jpg', class: "singly-1 img-responsive work-dropshadow pull-right-5 animated" %>
			</div>
			<div class="col-xs-5 col-md-4">
				<%= image_tag 'singly/singly-angelhack-board.jpg', class: "img-responsive pull-left-5 pull-down-30 work-dropshadow animated fadeInRight" %>
				<%= image_tag 'singly/singly-sign.jpg', class: "img-responsive pull-left-5 work-dropshadow pull-down-10 animated fadeInUp" %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-8 col-md-offset-2">
			<p>
				Initially, I designed and worked on a WordPress site while Singly was considered a social API aggregrator. At this point, I was beginning to learn a bit of development so I was able to make a few commits, but it was very handheld in nature by my very supportive team. It was the beginning of a realization that I could eventually really get into working with a code editor. 
			</p>
			<%= link_to "https://web.archive.org/web/20130430023636/http://singly.com/#2", target: "blank" do %>
					<button class="callout-link">
						View Former WordPress Site <i class="fa fa-arrow-right"></i>
					</button>
				<% end %>
			<p>
				However, we were struggling to sell a pre-built API versus build it yourself. We realized that the product market fit wasn't right and Singly pivoted towards selling specifically to the quantified self market. So the most current website at <%= link_to 'Singly.com', "http://singly.com", target: "_blank" %> reflects that mission.
			</p>
			<div class="group-vertical-margin">
				<div class="browser-ui">
					<%= render partial: "partials/browser_circles" %>
					<%= image_tag 'singly/singly-unified.jpg', class: "img-responsive" %>
				</div>
			</div>
			<p>
				To relieve some of the sales stress, we brainstormed technical charts to display the API's behavioral and security benefits. Below is a technical chart. The infrastructure is highly technical, but the design of the architecture information is very easy to digest and visually appealing. At this point, sales were on an uptick, and we were gaining momentum and higher paying clients.
			</p>
			<div class="group-vertical-margin">
				<div class="browser-ui">
					<%= render partial: "partials/browser_circles" %>
					<%= image_tag 'singly/singly-chart.jpg', class: "img-responsive" %>
				</div>
			</div>
			<p class="callout">
				Shortly afterward, Singly was acquired by my next employer Appcelerator in October, 2013.
			</p>
		</div>
	</div>
</div>