<div class="container work-content work-singly">
	<div class="row">
		<div class="col-sm-12 col-md-8 col-md-offset-2">
			<p class="company-description">
				Singly was a social API aggregator that allowed developers to easily access third party data in a uniform API. In other words, a single API. Singly was acquired by my next employer Appcelerator in 2013.
			</p>
			<h2 class="center title">
				A tale of a Singly designer.
			</h2>
			<p>
				Singly was my first job out of school. Well, technically, I was still wrapping up school with online classes that year, but nevertheless, it was still my first adult job. Since my focus in school was Art Direction in Advertising, working at Singly was a highly technical fall down the rabbit hole, and it introduced me to several new technologies and provided me the resources for personal growth.
			</p>
			<p>
				The first project I undertook at Singly was defining the brand. This entailed creating consistency with brand assets and carrying those items through all marketing collateral including whitepapers, email templates, presentation decks, etc..
			</p>
			<%= link_to "singly-brand-guidelines.pdf.zip", target: "blank" do %>
				<div class="callout-link">
					Download the brand book that was released prior to the death of skeuomorphism. <i class="fa fa-download"></i>
				</div>
			<% end %>
			<p>
				While trying to figure out the perfect product market fit, we explored several iterations of the website. Eventually, the company's direction was focused on infiltrating the quantified self market. Below, the most recent website iteration, that is currently live at <%= link_to 'Singly.com', "http://singly.com", target: "_blank" %>, is displayed. The technical graph on the bottom of the page was my favorite piece of this site. The infrastructure is highly technical, but the design of the architecture information is very easy to digest and visually appealing.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-10 col-md-offset-1">
			<div class="browser-ui">
				<%= render partial: "partials/browser_circles" %>
				<%= image_tag 'singly/singly-website-one-page-scroll.jpg', class: "img-responsive" %>
			</div>
		</div>
	</div>
		<div class="row">
		<div class="col-sm-12 col-md-8 col-md-offset-2">
			<h3 class="center">
				Below, are some other examples of the brand.
			</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-6 col-md-offset-1">
			<%= image_tag 'singly/singly-hackathons-infographic.jpg', class: "img-responsive browser-ui" %>
		</div>
		<div class="col-sm-12 col-md-4">
			<%= image_tag 'singly/singly-angelhack-board.jpg', class: "img-responsive browser-ui" %>
		</div>
	</div>
</div>