<div class="container work-content work-singly">
	<div class="row">
		<div class="col-sm-12 col-md-8 col-md-offset-2">
			<p class="company-description">
				Singly was an API aggregator tool that enabled easy access into social third party data. In other words, a single API. Singly was acquired by my next employer Appcelerator in 2013.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-8 col-md-offset-2">
			<p>
				At Singly, I was a creative lead handling all things design including defining the brand. The target audience was developers and the general tone we wanted to convey was playfulness, wholesomeness and intelligence. After a healthy amount of exploration, a brand book was created. Then, all future marketing collateral maintained this new brand vision including the website, whitepapers, email templates, presentation decks, signage, marketing booth designs.
			</p>
			<span class="visible-md visible-lg">
				<%= link_to "singly-brand-guidelines.pdf.zip", target: "blank" do %>
					<button class="callout-link">
						Download the Singly Brand Book <i class="fa fa-download"></i>
					</button>
				<% end %>
			</span>
		</div>
	</div>
	<div class="group-vertical-margin">
		<div class="row">
			<div class="col-xs-7 col-xs-offset-0 col-md-6 col-md-offset-1">
				<%= image_tag 'singly/singly-hackathons-infographic.jpg', class: "singlyA to-be-animated img-responsive work-dropshadow pull-right-5 work" %>
			</div>
			<div class="col-xs-5 col-md-4">
				<%= image_tag 'singly/singly-angelhack-board.jpg', class: "singlyB to-be-animated img-responsive pull-left-5 pull-down-30 work-dropshadow work" %>
				<%= image_tag 'singly/singly-sign.jpg', class: "singlyC to-be-animated img-responsive pull-left-5 work-dropshadow pull-down-10 work" %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-8 col-md-offset-2">
			<p>
				Initially, I designed and worked on a WordPress site while Singly was considered a social API aggregrator. At this point, I pushed a few commits with the help of my teammates. This was the initial step to realizing how rewarding it is to ship my own work.
			</p>
			<p>
				After struggling with sales in the pre-built API market, executive leadership termed the former mission. Our new direction was selling the transmission of data through a uniformed API in the quantified self market, so we redid the website to reflect that mission.
			</p>
			<div class="group-vertical-margin">
				<div class="browser-ui">
					<%= render partial: "partials/browser_circles" %>
					<%= image_tag 'singly/singly-unified.jpg', class: "img-responsive" %>
				</div>
			</div>
			<p>
				To relieve some of the sales stress, we brainstormed technical charts to display the API's behavioral and security benefits. Below is a technical chart. The infrastructure is highly technical, but the design of the architecture information is very easy to digest and visually appealing. At this point, sales were on an uptick, and we were gaining momentum and higher paying clients.
			</p>
			<div class="group-vertical-margin">
				<div class="browser-ui">
					<%= render partial: "partials/browser_circles" %>
					<%= image_tag 'singly/singly-chart.jpg', class: "img-responsive" %>
				</div>
			</div>
			<p class="callout">
				Shortly afterward, Singly was acquired by my next employer Appcelerator in October, 2013.
			</p>
		</div>
	</div>
</div>