<div class="container work-content">
	<div class="row">
		<div class="col-sm-12 col-md-8 col-md-offset-2">
			<p class="company-description">
				Intersection (formerly Titan360) is the largest municipally focused media company in the U.S. I joined the team as an in house graphic design intern for Summer 2010.
			</p>
			<p>
				In the first week of my internship, I was tasked with the challenge of coming up with a large scale train wrap design. Being that no one from the SF office has done this work, it would mean that I would be going this on my own. I created a few concepts and sent the final concept to my director. I received feedback that Taiwan Tourism liked the concept. Without any further ado, I moved onto producing work for other clients including BART dominations for Gilead Sciences.
			</p>
			<p class="callout">
				Two weeks before my internship ended, I was informed that the Taiwan Tourism campaign concept was approved by the client. I broke my head through the ceiling as I jumped for joy.
			</p>
			<div class="group-vertical-margin">
				<%= image_tag 'taiwan/taiwan-wrap.jpg', class: "img-responsive work" %>
			</div>
			<p class="hidden-xs">
				Least to say, my internship naturally extended. The client thought the initial concept was too Chinese in nature, so they provided new images to work with. I had to create an illustrator template (since there wasn't one available) and linked it to multiple large PSDs with the new high fidelity photos they provided.
			</p>
			<p>
				It was hard to fathom that my design work would be plastered all across town. It didn't seem like a thing that happened to a sophomore in school, or even, a thing that happened to any student. It was surreal at first when the first bus passed by me with my designs all over it.
			</p>
			<div class="group-vertical-margin visible-xs">
				<%= image_tag 'taiwan/taiwan-kong.jpg', class: "img-responsive work" %>
			</div>
		</div>
	</div>
	<div class="group-vertical-margin hidden-xs">
		<div class="row">
			<div class="col-sm-4 col-offset-0 col-md-3 col-md-offset-1">
				<%= image_tag 'taiwan/taiwan-wrap-live.jpg', class: "taiwanA img-responsive work pull-right-5 work-dropshadow top-image to-be-animated" %>
				<%= image_tag 'taiwan/taiwan-king.jpg', class: "taiwanB img-responsive work work-dropshadow top-image pull-right-5  to-be-animated" %>
				<%= image_tag 'taiwan/taiwan-trolley.jpg', class: "taiwanC img-responsive work pull-right-5 work-dropshadow top-image to-be-animated" %>
			</div>
			<div class="col-sm-8 col-md-7">
				<%= image_tag 'taiwan/taiwan-kong.jpg', class: "taiwanD img-responsive work work-dropshadow pull-down-15 pull-left-5 top-image to-be-animated" %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-8 col-md-offset-2">
			<p>
				These large scale print ads were on multiple large outdoor formats that ran from September 2010 to January 2011. The campaign gained 150,890,225 impressions across Chicago, Seattle and San Francisco markets. These images are from San Francisco only.
			</p>
			<p class="callout">
				It was a lot of work and at times highly stressful, but it all made sense when putting it together. To this day, it's still my most overgrown baby. Not too shabby for an intern.
			</p>
		</div>
	</div>
</div>