<div class="container work-content">
	<div class="row">
		<div class="col-sm-12 col-md-8 col-md-offset-2">
			<p class="company-description">
				This work was initially done for Titan360 which is now Intersection. Intersection is the largest municipally focused Media company in the U.S..
			</p>
			<h2 class="center title">
				Take a vacation to Taiwan.
			</h2>
			<p>
				During the first week of my first internship, I was handed the most daunting task. I had to create a mockup for a train wrap. I photoshopped a version, and handed it off. The supervisors and team loved it, and passed it along to the client. They responded that they liked it, but thought it was too Chinese in nature. The project sat for a while. Out of sight, out of mind, and I continued to produce mockups for other clients.
			</p>
			<p class="callout">
				Two weeks before my internship ended, I was informed that the design would come alive. I broke my head through the ceiling as I jumped for joy.
			</p>
			<p>
				Least to say, my internship naturally extended, since I had to redesign the whole monster by creating a proper template that could be sent off to print. I was the first out of the SF office to design a train wrap, so I had to figure it all out on my own. They provided new images and the terrible copy. Although it was a lot of production work, I found it all to be very easy and not as stressful as one would imagine; it was problem solving at its finest. 
			</p>
			<p>
				It was hard to fathom that my design work would be plastered all across town. It didn't seem like a thing that happened to sophomores in school, or even, a thing that happened to any student. It was surreal at first when the first bus passed by me with my designs all over it.
			</p>
			<p>
				To this day, it's still my most overgrown baby. Not too shabby for an intern.
			</p>	
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-10 col-md-offset-1">
			<%= image_tag 'taiwan/taiwan-wrap.jpg', class: "img-responsive work" %>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-8 col-md-offset-2">
			<p class="callout">
				These large scale print ads were on multiple large outdoor formats that ran from September 2010 to January 2011. The campaign gained 150,890,225 impressions across Chicago, Seattle and San Francisco markets. These images are just from San Francisco.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-10 col-md-offset-1">
			<%= image_tag 'taiwan/taiwan-wrap-live.jpg', class: "img-responsive work" %>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-6">
			<%= image_tag 'taiwan/taiwan-king.jpg', class: "img-responsive work" %>
		</div>
		<div class="col-sm-12 col-md-6">
			<%= image_tag 'taiwan/taiwan-trolley.jpg', class: "img-responsive work" %>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-10 col-md-offset-1">
			<%= image_tag 'taiwan/taiwan-kong.jpg', class: "img-responsive work" %>
		</div>
	</div>
</div>