<div class="container work-content">
	<div class="row">
		<div class="col-sm-12 col-md-8 col-md-offset-2">
			<p class="company-description">
				This work was initially done for Titan360 which is now Intersection. Intersection is the largest municipally focused Media company in the U.S..
			</p>
			<p>
				During the first week of my first internship, I was handed the most daunting task. I had to create a mockup for a train wrap. I photoshopped a small version, and handed it off. After receiving internal praise, they handed it off to Taiwan Tourism. The client initially liked it. The project sat for a while, out of sight - out of mind. I continued to produce mockups for other clients.
			</p>
			<p class="callout">
				Two weeks before my internship ended, I was informed that the initial designs would come to life. I broke my head through the ceiling as I jumped for joy.
			</p>
			<div class="group-vertical-margin">
				<%= image_tag 'taiwan/taiwan-wrap.jpg', class: "img-responsive work" %>
			</div>
			<p>
				Least to say, my internship naturally extended. The client thought the initial design was too Chinese in nature, so they provided new images to work with. A project of this size was never done internally at the Titan360 office, so I had to create an illustrator template and link it to multiple large PSDs with the new high fidelity photos they provided.
			</p>
			<p>
				It was hard to fathom that my design work would be plastered all across town. It didn't seem like a thing that happened to sophomores in school, or even, a thing that happened to any student. It was surreal at first when the first bus passed by me with my designs all over it.
			</p>
		</div>
	</div>
	<div class="group-vertical-margin">
		<div class="row">
			<div class="col-sm-4 col-offset-0 col-md-3 col-md-offset-1 col-xs-4">
				<%= image_tag 'taiwan/taiwan-wrap-live.jpg', class: "img-responsive work pull-right-5 work-dropshadow top-image" %>
				<%= image_tag 'taiwan/taiwan-king.jpg', class: "img-responsive work work-dropshadow top-image pull-right-5" %>
				<%= image_tag 'taiwan/taiwan-trolley.jpg', class: "img-responsive work pull-right-5 work-dropshadow top-image hidden-xs" %>
			</div>
			<div class="col-sm-8 col-md-7 col-xs-8">
				<%= image_tag 'taiwan/taiwan-kong.jpg', class: "img-responsive work work-dropshadow pull-down-15 pull-left-5 top-image" %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-8 col-md-offset-2">
			<p>
				These large scale print ads were on multiple large outdoor formats that ran from September 2010 to January 2011. The campaign gained 150,890,225 impressions across Chicago, Seattle and San Francisco markets. These images are from San Francisco only.
			</p>
			<p class="callout">
				It was a lot of work and at times highly stressful, but it all made sense when putting it together. To this day, it's still my most overgrown baby. Not too shabby for an intern.
			</p>
		</div>
	</div>
</div>