<!DOCTYPE html>
<html>
  <head>

    <!-- Meta Description -->
    <meta content="width=device-width" name="viewport">
    <title>PattyCreates | UI/UX Designer &amp; Artist</title>
    <meta content="Designer / Artist. A creative who gravitates towards strategy, UI/UX, branding, agile prototyping, front end coding, art, DIY and puppies." name="description">
    <meta content="Design, Front End Design, UI, UX, HTML, CSS, SCSS, Ruby on Rails, Developer, San Francisco, Artist, Coder, patty create" name="keywords">

    <!-- Favicons -->
    <%= favicon_link_tag 'favicon.ico' %>
 
    <!-- Turbolinks -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %><%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 

    <!-- Fonts -->
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Open+Sans:400,300,300italic,800italic,800,700italic,700,600italic,600,400italic' rel='stylesheet' type='text/css'>

    <!-- Font Awesome -->
    <%= csrf_meta_tags %>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">


    <!-- Third Party Tracking Pixels -->
    <%= render partial: "partials/pixels" %>
    
  </head>

  <body>
    <%= yield %>
  </body>

</html>
